@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <P>Пока что можно только перейти на страницу Room через панель навигации</P>
    <br/>
    <h1 class="display-4">Welcome</h1>
    <img src="img/night-life-hotel-main-img.webp"/>
</div>
